* {
  margin: 0;
  padding: 0; }

h1 {
  font-family: Arial;
  color: green; }

body {
  background-color: beige; }

#container {
  background-color: #ffa326; }
#container h1:hover {
  color: crimson; }
#container header h1 {
  color: indigo;
  background-color: aquamarine;
  font-family: "Book Antiqua"; }
#container #content h1 {
  font-family: "Arial Unicode MS";
  color: darkcyan; }

/*# sourceMappingURL=main.css.map */
