// main - начало
@import "base/reset";
@import "base/typography";
@import "base/body";
#container {
  @import "base/container";
  header {
    @import "layout/header";
  }
  #content {
    @import "layout/content";
  }
  footer {
    @import "layout/footer";
  }
   }
// main - конец

